version: "3.9"

services:
  backend:
    build: .
    container_name: lms-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    restart: always

  mongo:
    image: mongo:6
    container_name: lms-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: lms-redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
